*{
    margin:0;
}
body{
    font-family: 'segoe UI','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
    background-color: #f1f1f1;
}
#main-header{
    position: fixed;
    top:0;
    left:0;
    height:100%;
    min-width: 280px;
    max-width: 300px;
}